.about-container .header {
    background: black;
    margin-bottom: 10rem;
}

.headshot {
    height: 45.5rem;
    width: 37rem;
    // border: 10px solid black;
    -webkit-box-shadow:0 0 100px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 100px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 100px rgba(0, 0, 0, 0.5);
    padding: 1px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    // height: 100vh;
    width: 100vw;
    min-height: 100vh;
    @media (max-width: $desktop-breakpoint) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.about__bio {
    width: 45vw;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10rem;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    @media (max-width: $desktop-breakpoint) {
        width: 90vw;
        margin-top: $xxl-size;
    }
}