.mobile_dropdown {
    color: white;
}

.sideNav {
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.6s; 
  }

  .sidenav__link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: $main-font;
    font-size: 25px;
    color: $off-grey;
    display: block;
    transition: 0.3s;
    &:hover {
        color: $hover-white;
    }
  }

  .sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .sideNav .mobile__header__recources {
    background: $off-black;
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    border-top: 1px solid $off-grey;
    border-bottom: 1px solid $off-grey;
    margin-bottom: $l-size;
}

  .mobile-header-container {
      display: none;
      @media (max-width: $desktop-breakpoint) {
          display: initial;
      }
  }

  .header--icon--mobile {
    color: $off-grey;
    &:hover {
        color: $hover-white;
    }
  }

